@use "sass:list";
@use "sass:string";
@mixin styleclass($metas) {
   @each $meta in str-split($metas) {
      $actionSeparatorIndex: string.index(string.quote($meta), ':');

      @if $actionSeparatorIndex and $actionSeparatorIndex >= 0 {
         @extend .#{string.slice($meta, 0, $actionSeparatorIndex - 1) + '\\:' + string.slice($meta, $actionSeparatorIndex + 1, -1)} !optional;
      }
      @else {
         @extend .#{$meta} !optional;
      }
   }
}
 
@function str-split($string, $separator: ' ') {
   $split-arr: ();
   $index: string.index($string, $separator);
   @while $index != null {
      $item: string.slice($string, 1, $index - 1);
      $split-arr: list.append($split-arr, $item);
      $string: string.slice($string, $index + 1);
      $index : string.index($string, $separator);
   }

   @return list.append($split-arr, $string);
}